name: AutoPR

on:
  push:
    branches:
      - 'develop'

jobs:
  Dispatch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Print and Update Secret
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          if [[ "${{ secrets.LAST_COMMIT_PR }}" == "test_value" ]]; then
            echo "SECRET VALUE IS test_value"
          else
            echo "SECRET VALUE DID NOT MATCH"
          fi
          gh secret set LAST_COMMIT_PR --body "test_value_2"
      - uses: gliech/create-github-secret-action@v1
        with:
          name: LAST_COMMIT_PR
          value: new_test_value
          pa_token: ${{ secrets.GH_TOKEN }}
